box {
  margin: 1px 5px 1px 5px;
}

window.bar {
    background-color: transparent;
    color: @theme_fg_color;
}

box.workspaces,
box.media,
box.center,
box.notification,
box.right {
  border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: @theme_selected_fg_color;
  background-color: alpha(@theme_bg_color, 0.5);
}

box.center.empty {
  background-color: blue;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}
button.media {
  background-color: @theme_bg_color;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    padding: 0 10px 0 10px;
    font-weight: bold;
}

scale trough,
scale highlight {
  border-radius: 5px;
  background-color: red;
}


.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}
.client-title.empty {
  background-color: transparent;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
