window.bar {
    background-color: transparent;
    color: @on_surface;
}

tooltip,
box {
  margin: 2px 5px 1px 5px;
}

tooltip {
  background-image: linear-gradient(@surface_container_lowest, alpha(@surface, 0.75));
  background-size: cover;
  border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: alpha(@background, 0.75);
}

box.launcher,
box.workspaces,
box.media,
box.center,
box.notification,
box.systray,
box.right {
  padding: 0px;
  min-height: 40px;
  border-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: alpha(@background, 0.75);
  background-image: linear-gradient(@surface_container_lowest, alpha(@surface, 0.75));
  background-size: cover;
}

button.launcher {
  background-image: linear-gradient(@surface_container_lowest, alpha(@surface, 0.75));
  background-size: cover;
  border-radius: 15px;
  font-family: "JetbrainsMono NF", monospace;
  padding-right: 11px;
  font-size: 32px;
  color: @primary;
}
button.launcher:hover {
  color: @source-color;
}

box.media {
  border-radius: 25px;
  padding: 0px 5px;
}

box.clock {
  color: @tertiary;
}

.media-button {
  margin: 3px 3px;
  padding: 0px 5px;
  border-radius: 50px;
  outline: 1px double @primary;
  background-color: @on_tertiary;
}

button {
    min-width: 32px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    background-size: 20px;
    border-radius: 5px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

button:active {
  color: @primary;
}

button:hover {
  background-color: @surface_container_highest;
}

label {
    padding: 0 10px 0 5px;
    font-weight: bold;
}

.circular-progress {
    min-width: 36px;
    min-height: 36px;
    border-width: 4px;
    font-size: 5px;
    margin: 4px;
    background-color: transparent;
    color: @primary;
}

.volume-icon {
  color: @on_surface;
  font-size: 16px;
}

.workspaces button.focused {
  border-bottom: 3px solid @primary;
  color: @tertiary;
}

.client-title {
    padding: 10px;
    color: @secondary;
}

box.center {
  transition: 1.5s;
}
box.center.empty {
  background-image: none;
  border-color: transparent;
}

.systray {
  background-color: transparent;
}

.systray:hover {
  background-color: @surface_container_highest;
}

menu {
  padding: 12px;
  font-size: 18px;
  background-image: linear-gradient(@surface_container_lowest, @surface);
  background-size: cover;
  color: @on_surface;
  border: 2px solid @primary;
  border-radius: 10px;
}

menuitem {
  padding: 0 8px;
  border-radius: 5px;
  animation: menuItemHoverOut 0.1s linear 1;
  transition: 0.2s;
}
menuitem:hover {
  color: @primary_fixed_dim;
  background-color: @surface_variant;
}

separator {
  background-image: linear-gradient(@on_surface, @outline);
  background-size: 4px 1px;
  min-width: 1px;
  min-height: 1px;
  margin: 4px 1px;
}


.notification {
    color: @tertiary;
}

levelbar block,
highlight {
    min-height: 10px;
}

