.angle {
  background: 
    linear-gradient(@surface_container_lowest, alpha(@surface, 0.75)) padding-box;
  background-size: cover;
  border-bottom: 3px solid;
  border-color: alpha(@background, 0.75);
}
